flows.json
[{"id":"36a16ec5.647352","type":"tab","label":"Camera Alert","disabled":false,"info":""},{"id":"5981f4cc.0fdeb4","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4e26303e.17352","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2b90f98f.e45d46","type":"http in","z":"36a16ec5.647352","name":"Camera 1","url":"/camera/motion/1","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["48015944.958018"]]},{"id":"fd720658.e8a6d8","type":"http in","z":"36a16ec5.647352","name":"Camera 2","url":"/camera/motion/2","method":"get","upload":false,"swaggerDoc":"","x":200,"y":280,"wires":[["f415b8a.4574348"]]},{"id":"1fa57fcd.9bb3f","type":"http in","z":"36a16ec5.647352","name":"Camera 3","url":"/camera/motion/3","method":"get","upload":false,"swaggerDoc":"","x":200,"y":400,"wires":[["65818c0c.b7f014"]]},{"id":"47ef39ea.f260b","type":"http in","z":"36a16ec5.647352","name":"Camera 4","url":"/camera/motion/4","method":"get","upload":false,"swaggerDoc":"","x":200,"y":520,"wires":[["91d50cd3.f0e818"]]},{"id":"48015944.958018","type":"change","z":"36a16ec5.647352","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 1 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["1196f894.7072f7","48ed67d9.5a5988","7df31e36.e05e5"]]},{"id":"f415b8a.4574348","type":"change","z":"36a16ec5.647352","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 2 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["1196f894.7072f7","814275f6.e1c52","7df31e36.e05e5"]]},{"id":"65818c0c.b7f014","type":"change","z":"36a16ec5.647352","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 3 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["1196f894.7072f7","ee0705e4.682128","7df31e36.e05e5"]]},{"id":"91d50cd3.f0e818","type":"change","z":"36a16ec5.647352","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 4 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":520,"wires":[["1196f894.7072f7","29098a88.dc4696","7df31e36.e05e5"]]},{"id":"1196f894.7072f7","type":"debug","z":"36a16ec5.647352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":60,"wires":[]},{"id":"48ed67d9.5a5988","type":"mqtt out","z":"36a16ec5.647352","name":"","topic":"camera/motion/1","qos":"","retain":"","broker":"5981f4cc.0fdeb4","x":910,"y":160,"wires":[]},{"id":"814275f6.e1c52","type":"mqtt out","z":"36a16ec5.647352","name":"","topic":"camera/motion/2","qos":"","retain":"","broker":"5981f4cc.0fdeb4","x":910,"y":280,"wires":[]},{"id":"ee0705e4.682128","type":"mqtt out","z":"36a16ec5.647352","name":"","topic":"camera/motion/3","qos":"","retain":"","broker":"5981f4cc.0fdeb4","x":910,"y":400,"wires":[]},{"id":"29098a88.dc4696","type":"mqtt out","z":"36a16ec5.647352","name":"","topic":"camera/motion/4","qos":"","retain":"","broker":"5981f4cc.0fdeb4","x":910,"y":520,"wires":[]},{"id":"7df31e36.e05e5","type":"mqtt out","z":"36a16ec5.647352","name":"","topic":"alert/red","qos":"","retain":"","broker":"4e26303e.17352","x":760,"y":60,"wires":[]},{"id":"a0f50b2a.a48128","type":"comment","z":"36a16ec5.647352","name":"wait for alert to come in 10.0.10.1:1880/camera/motion/1","info":"","x":350,"y":100,"wires":[]},{"id":"1ccc909.30949ef","type":"inject","z":"36a16ec5.647352","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["48015944.958018"]]},{"id":"f4796135.9bf988","type":"inject","z":"36a16ec5.647352","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["f415b8a.4574348"]]},{"id":"65267561.355a14","type":"inject","z":"36a16ec5.647352","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["65818c0c.b7f014"]]}]