peter-camera-flow.json
[{"id":"c8ecfef1.2dd6","type":"tab","label":"Peter 101 flow","disabled":false,"info":""},{"id":"748cfa7b.6859a4","type":"debug","z":"c8ecfef1.2dd6","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":1220,"wires":[]},{"id":"ceb10a24.b2b148","type":"http in","z":"c8ecfef1.2dd6","name":"","url":"/camera","method":"post","upload":false,"swaggerDoc":"","x":220,"y":1020,"wires":[["31c83a6.82d75c6"]]},{"id":"31c83a6.82d75c6","type":"template","z":"c8ecfef1.2dd6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello, got message: {{ payload }}</h1>\n    </body>\n</html>","x":430,"y":1020,"wires":[["d44ea233.f24c2","748cfa7b.6859a4","bfc02a93.7a8698","2fc4e657.583aca","476edb55.828594"]]},{"id":"d44ea233.f24c2","type":"http response","z":"c8ecfef1.2dd6","name":"","statusCode":"","headers":{},"x":690,"y":1000,"wires":[]},{"id":"bfc02a93.7a8698","type":"file","z":"c8ecfef1.2dd6","name":"","filename":"/data/debug.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":680,"y":1300,"wires":[[]]},{"id":"397b968e.90337a","type":"debug","z":"c8ecfef1.2dd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":1040,"wires":[]},{"id":"2fc4e657.583aca","type":"switch","z":"c8ecfef1.2dd6","name":"Pick correct camera","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Camera1","vt":"str"},{"t":"cont","v":"Camera2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":700,"y":1120,"wires":[["f07223ee.949e4"],["c0060ee6.ef29d"]]},{"id":"f07223ee.949e4","type":"change","z":"c8ecfef1.2dd6","name":"Set Camera 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1060,"wires":[["397b968e.90337a","64f6fcd7.d2faa4"]]},{"id":"c0060ee6.ef29d","type":"change","z":"c8ecfef1.2dd6","name":"Set Camera 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1140,"wires":[["64f6fcd7.d2faa4","397b968e.90337a"]]},{"id":"476edb55.828594","type":"function","z":"c8ecfef1.2dd6","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1400,"wires":[["e34b906b.3e4e8"]]},{"id":"e34b906b.3e4e8","type":"debug","z":"c8ecfef1.2dd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":970,"y":1400,"wires":[]},{"id":"64f6fcd7.d2faa4","type":"mqtt out","z":"c8ecfef1.2dd6","name":"","topic":"camera/motion/","qos":"","retain":"","broker":"519b78f0.6309e8","x":1240,"y":1100,"wires":[]},{"id":"519b78f0.6309e8","type":"mqtt-broker","z":"","name":"1337 mqtt","broker":"10.1.1.76","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"camera/motion/","birthQos":"0","birthRetain":"false","birthPayload":"1","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
